<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<title>Feeder</title>
</head>
<body>
	<div class="container">

		<div class="row">
			<div class="col">
				<div class="jumbotron">
					<h1 class="display-4">FEEDER</h1>
					<p class="font-weight-bold text-uppercase">Headlines, Currency &amp; Weather</p>	
				</div>
			</div>
		</div>

		<!--Form elements by deafult uses get to send the requests 
			The input element name act as a get variable for ex. here url/?channel=bbc -->

		<p></p>

		<!-- Two braces act as placeholder, passing dynamic values to the template -->

		<!-- Accessing dict in Jinja is little different from python 
				We use article.title instead of article['title'] or 
				article.get('title') as we use in Python -->

		<!-- adding links to the news -->
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h2>Current Weather</h2>
						<form class="form-inline">
							<div class="form-group mx-sm-2 mb-2">
								<input class="form-control form-control-sm" type="text" name="city" placeholder="Search the city">
							</div>
							<input type="submit" value="Submit" class="btn btn-sm mb-2 btn-primary">
						</form>
						<p class="mx-2"> <strong>City: {{ weather.city }}</strong>, <strong>{{ weather.country }}</strong>
						<span class="text-capitalize">{{ weather.description }}, <span class="font-italic"> {{ weather.temperature }}<sup>o</sup> C </span> </p>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card">
					<div class="card-body">
						<h2>Currency Conversion Rate</h2>
						<form class="form-inline">
							<div class="form-group mx-sm-2 mb-2">
								From: <select name="cur_frm" class="form-control form-control-sm">
								{% for currency in currencies %}
				            		<option value="{{ currency }}" {{'selected="selected"' if cur_frm==currency }}>{{ currency }}</option>
				         		{% endfor %}
				          	</select>	
							</div>
				    		<div class="form-group mx-sm-2 mb-2">
				    			To: <select class="form-control form-control-sm" name="cur_to">
				     			{% for currency in currencies %}
				           			<option value="{{ currency }}" {{'selected="selected"' if cur_to==currency }}>{{ currency }}</option>
				        		{% endfor %}
				         		</select>
				    		</div>
				     		
				         	<input class="btn btn-primary btn-sm mb-2" type="submit" value="Submit">
						</form>
						<p><span class="font-weight-bold"> 1 </span> <span class="font-italic"> {{ cur_frm }} </span> = <span class="font-weight-bold"> {{ rate }} </span> <span class="font-italic"> {{ cur_to }} </span> </p>
					</div>
				</div>
			</div>	
		</div>
		
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h1>Top Stories: </h1>
						<form class="form-inline">
							<div class="form-group mx-sm-2 mb-2">
								<input class="form-control form-control-sm" type="text" name="channel" placeholder="Enter the channel">
							</div>
							<input class="btn btn-primary btn-sm mb-2" type="submit" value="Submit">
						</form>
							<p></p>
							{% for article in articles %}
						        <b> <a href="{{ article.link }}">{{ article.title }}</a></b>
						        <br />
						        <i> {{ article.published }} </i>
						        <br />
						        <p> {{ article.summary }} </p>
						        <hr/>
					        {% endfor %}
					    </div>
					</div>
			    </div>
			</div>
	</div>
	
</body>
</html>