<!DOCTYPE html>
<html>
<head>
	<title>Feeder</title>
</head>
<body>
	<h1>Headlines</h1>

	<!--Form elements by deafult uses get to send the requests 
		The input element name act as a get variable for ex. here url/?channel=bbc -->
	<!-- Here action attribute denotes where we want to redirect the user
			on submitting the form. Sometimes we are redirected to confirmation page or completion page. Here we want to redirect the user to the same page hence we used '/' -->
	<form action="/" method="POST">
		<input type="text" name="channel" placeholder="Enter the channel">
		<input type="submit" value="Submit">
	</form>

	<br/>

	<!-- Two braces act as placeholder, passing dynamic values to the template -->

	<!-- Accessing dict in Jinja is little different from python 
			We use article.title instead of article['title'] or 
			article.get('title') as we use in Python -->

	<!-- adding links to the news -->

		{% for article in articles %}
	        <b> <a href="{{ article.link }}">{{ article.title }}</a></b>
	        <br />
	        <i> {{ article.published }} </i>
	        <br />
	        <p> {{ article.summary }} </p>
	        <hr/>
        {% endfor %}
</body>
</html>